body{
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

#navbar{
    position: fixed;
    width: 20%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: grey;
    text-align: left;
    display: inline-block;
    overflow-y: scroll;
}

.header{
    border-bottom: 1px solid black;
}

.header h1{
    margin: 30px 0;
    padding: 0px 20px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
 nav ul li{
    border-bottom: 1px solid black;
 }

.nav-link{
    display: block;
    text-decoration: none;
    margin: 30px 0;
    padding: 0px 10px;
    color: black;
    font-size: 18px;
}

.nav-link:hover{
    color: blanchedalmond;
    font-weight: bold;
}

#main-doc{
    padding: 20px 20px 20px 290px;
    text-align: left;
}

.main-section{
    margin: 30px;
    font-size: 18px;
    color: #4d4e53;
}

.main-section header{
    font-size: 25px;
    color: black;
}

code{
    margin: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    font-size: 12px;
}